g{text-align: center;
    text-size-adjust: 15px;
    color: rgb(182, 106, 106);
    }
    
    g{
        align-items: center;
        color: rgb(2, 2, 2);
        size: 330px;}
    
    g{
        align-items: center;
        color: rgb(0, 0, 0);
        size: 330px;}

